<mat-card class="mt20" *ngFor="let q of quizzess">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{q.title}}</mat-card-title>
        <mat-card-title>{{q.category.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>{{q.description}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button [routerLink]="'/admin/view-questions/'+q.quid+'/'+q.title"  mat-flat-button color="primary">Questions</button>
        <button mat-stroked-button color="primary" class="ml20">Max Marks: {{q.maxMarks}}</button>
        <button mat-stroked-button color="primary" class="ml20"> Questions: {{q.numberOfQuestions}}</button>
        <button [routerLink]="'/admin/quiz/' + q.quid"  mat-stroked-button color="Basic" class="ml20"> Update</button>
        <button mat-stroked-button color="Disabled" class="ml20"> Attempts</button>
        <button mat-stroked-button color="accent" class="ml20" (click)="deleteQuiz(q.quid)"> Delete</button>

    </mat-card-actions>
    <div class="container text-center mt20">
        <button routerLink="/admin/add-quiz" mat-raised-button color="primary" class="ml20"> Add New Quiz</button>

    </div>
</mat-card>






